<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/assets/post-it.png">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/register.css">
    <script defer src="/static/script/resize.js"></script>
    <script defer src="/static/script/window.js"></script>
    <title>Sign Up</title>
</head>
<body>
    <section class="window" id="window">
        <div id="topbar">
            <div class="btn red"></div>
            <div class="btn yellow"></div>
            <div class="btn green"></div>
            <p>Create an account</p>
        </div>
        <div id="content">
            <h1>Register</h1>
            <form action="/signup" method="post">
                <input name="username" type="text" placeholder="username" autocomplete="off"> <br><br>
                <input name="passwd" type="password" placeholder="password"> <br><br>
                <input name="confirm" type="password" placeholder="confirm password"> <br><br>
                <button type="">register</button>
            </form>
            <p>Already have an account?: <a href="/login">Login</a></p>
            <p class="error">{{.Message}}</p>
        </div>
    </section>
</body>
</html>