body {
    background: var(--navy);
    background-image: url("/static/assets/blobs.png");
    background-size: 64px;
    image-rendering: pixelated;
}

.window {
    background: var(--orange2);
}

button {
    background: var(--teal);
}

input {
    background: var(--peach);
}

button:hover {
    background: var(--light-turq);
}

#picture {
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 120px;
    z-index: -1;
}

header {
    background: black;
    color: var(--white);
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

header p {
    margin: 0 5px;
}

#menu {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0 5px;
}

#logo {
    width: 16px;
    height: 16px;
}

.list-item {
    background: var(--salmon);
    width: 250.35px;
    border: 2px solid black;
    box-shadow: black 3px 3px;
    min-height: 50px;
    padding: 5px;
    position: relative;
    margin: 2rem 0;
}

.mod {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a {
    color: var(--purple);
}

a:hover {
    color: var(--indigo);
}